*{
    margin: 0;
    padding: 0;
    font-family: 'Work Sans', sans-serif;
}

/* -------------------Global CSS Ends Here------------------------ */

.header-container{
    text-align: right;
    background: url("../pic/header_bg2.png");
    background-repeat: no-repeat;
    background-size: cover; 
    padding-top: 304px;
    padding-bottom: 206px;
    
}
header .text-container{
    margin-right: 230px;
}
header .header-h{
    font-size: 65px;
    font-weight: 700;
    line-height: 76px;
    text-align: right;
    margin-bottom: 24px;
}
header .header-p{
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    text-align: right;
    margin-bottom: 32px;
}
header .header_contact_btn{
    padding: 20px 25px;
    font-size: 20px;
    font-weight: 600;
    line-height: 23px;
    background-color: #F15B22;
    color: whitesmoke;
    border: none;
    border-radius: 7px;
    
}
header .header_contact_btn:hover{
    background-color: whitesmoke;
    color: #F15B22;
    border: 1px solid #F15B22;
    border-radius: 7px;
}
header .header_contact_btn:focus{
    background-color: #da4c14;
    color: whitesmoke;
    border: none;
    border-radius: 7px;
}

/* -----------------header section ends here--------------- */

main .failure-container{
    margin-left: 206px;
    margin-right: 322px;
    display: flex;
    justify-content: center;
    vertical-align: middle;
}
.failure-container .person-pic{
    height: 723px;
    width: 569px;
    margin-top: 160px;
    padding-right: 127px;
}
.failure-container .failure-text{
    margin-top: 399px;
    margin-left: 57px;
}
.failure-container .failure-heading{
    font-size: 40px;
    font-weight: 700;
    line-height: 47px;
    margin-bottom: 34px;
}
.failure-container .failure-para{
    font-size: 16px;
    font-weight: 400;
    line-height: 28px;
    margin-bottom: 24px;
}
.failure-container .check-list{
    list-style: none;
    font-size: 18px;
    font-weight: 400;
    line-height: 26px;
}
.failure-container .check-mark{
    width: 18px;
    height: 12px;
    margin-bottom: -2px;
    margin-right: 14px;
}
.failure-container .check-mark:hover{
    width: 20px;
    height: 13px;
}

/* ---------------------------Failure Section End Here------------------------------ */

.my-plan-container .my-plan-text{
    font-size: 40px;
    font-weight: 700;
    line-height: 47px;
    margin-top: 150px;
    margin-bottom: 60px;
    text-align: center;
}
.my-plan-container > ul{
    display: flex;
    justify-content: space-around;
    margin-left: 229px;
    margin: 229px;
}
.my-plan-container .plans{
    /* margin-right: 36px;
    margin-left: 36px; */
    list-style: none;
}
.my-plan-container .plan-icons{
    position: relative;
    display: inline-block;
    height: 91px;
    width: 91px;
    left: 29%;
}
.my-plan-container .plan-icons:hover{
    height: 94px;
    width: 94px;
}
.my-plan-container .plan-heading{
    font-size: 30px;
    font-weight: 700;
    line-height: 35px;
    text-align: center;
}
.my-plan-container .plan-description{
    font-size: 25px;
    font-weight: 500;
    line-height: 29px;
    text-align: center;
}

/* ----------------My Plans Section Ends Here--------------- */

.positive-container{
    background-image: linear-gradient(to right, #e0693aea, #f15d221f),
    url('../pic/Alwayskeep_bg.png');
    background-size: cover;
    margin-left: 260px;
    margin-right: 260px;
    padding-top: 59px;
    padding-bottom: 160px;
    margin-bottom: 130px;
    border-radius: 8px;
}
.positive-container .positive-mindset{
    margin-top: 60px;
    margin-left: 64px;
    margin-bottom: 24px;
    font-size: 40px;
    font-weight: 700;
    line-height: 47px;
    color: whitesmoke;
}
.positive-container .call-now-btn{
    position: absolute;
    margin-left: 64px;
    font-size: 20px;
    font-weight: 600;
    text-align: center;
    line-height: 23px;
    padding: 20px 36px;
    color: #F15B22;
    background-color: whitesmoke;
    border: none;
    border-radius: 7px;
}
.positive-container .call-now-btn:hover{
    color: whitesmoke;
    background-color: #F15B22;
    border: 2.5px solid whitesmoke;
}
.positive-container .call-now-btn:focus{
    color: whitesmoke;
    background-color: #F15B22;
    border: 2.5px solid whitesmoke;
}

/* ------------------------Positive Section Ends Here----------------------------- */

.footer-section{
    padding-top: 130px;
    padding-bottom: 100px;
    padding-left: 220px;
    padding-right: 220px;
    background-color: #151414;
    display: flex;
}
.footer-section .footer-description-header{
    font-size: 45px;
    font-weight: 700;
    line-height: 53px;
    color: whitesmoke;
    margin-bottom: 16px;
}
.footer-section .footer-description{
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    color: whitesmoke;
    margin-bottom: 24px;
    margin-right: 250px;
}
.footer-section .contact{
    list-style: none;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    color: whitesmoke;
    margin-bottom: 6px;
}
.footer-section a{
    text-decoration: none;
    color: whitesmoke;
}
.footer-section .socials{
    margin-top: 26px;
    display: flex;
    justify-content: flex-start;
}
.footer-section .social-icons{
    list-style: none;
    margin-right: 18px;
}
.footer-section .icons{
    height: 46px;
    width: 46px;
}
.footer-section .subscribe-header{
    font-size: 28px;
    font-weight: 600;
    line-height: 29px;
    color: whitesmoke;
}
.footer-section .email-input{
    margin-top: 31px;
    height: 64px;
    width: 304px;
    background-color: #151414;
    border: 1px solid whitesmoke;
    border-radius: 8px;
    color: whitesmoke;
    padding-left: 21px;
    font-size: 18px;
    font-weight: 400;
    line-height: 21px;
}
.footer-section .sub-btn{
    color: #F15B22;
    font-size: 20px;
    font-weight: 600;
    padding: 20px 36px;
    margin-top: 20px;
    border-radius: 8px;
    border: none;
}
.footer-section .sub-btn:hover{
    color: whitesmoke;
    background-color: #F15B22;
    border: 1px solid whitesmoke;
}
.footer-section .sub-btn:focus{
    color: #F15B22;
    border: 1px solid #F15B22;
    background-color: whitesmoke;
}